# Ignore dataset folders
dataset_folder/
test-dataset/

# Ignore BERT data and models
bert_data/
bert_model/
*.csv
*.pkl
text_extraction_progress.json
bert_extraction_progress.json
# Python-related files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Excel temp files
~$*.xlsx

# Model files
# Uncomment below line if you don't want to include the model in Git
# *.pkl
